* {
  margin: 0;
  padding: 0;
}

section.container {
  background-image: url("/src/asset/img/Background/Map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

div.sub-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
